<% if current_user %>
<h1 class="text-break">New restaurant</h1> <br>

<%= render "form", restaurant: @restaurant %>

<br>

<%= render 'home/restourants' %>
  <% else %>

<%= render 'register' %>


<% end %>